<!-- div style="overflow-x: auto; overflow-y: auto;" -->
    <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">User information</div>
        
                    <table class="table table-bordered" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage"
                        [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" [mfActivePage]="activePage" (mfOnPageChange)="onPageChange($event)"
                        [mfIsServerPagination]="true" [(mfAmountOfRows)]="itemsTotal" (mfSortOrderChange)="onSortOrder($event)" id="table1">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="email">Email</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="age">Age</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter [by]="sortByWordLength">City</mfDefaultSorter>
                                </th>
                            </tr>
                            <tr>
                                <th colspan="5">
                                        Search
                                        <input class="form-control" [(ngModel)]="filterQuery"/>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of mf.data">
                                <td>
                                    <button (click)="remove(item)" class="btn btn-success">Select</button>
                                </td>
                                <td>{{item.name}}</td>
                                <td>{{item.email}}</td>
                                <td class="text-right">{{item.age}}</td>
                                <td>{{item.city | uppercase}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        <!-- /div -->

        